MONGO_CONNECTION_URL=mongodb://localhost:27017/WMplatform
SECRET=secret
PORT=8080
NODE_ENV=dev
CLIENT_DOMAIN=http://localhost:3000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=task-manager-storage

GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_BUCKET_NAME=

GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_CLOUD_BUCKET_NAME=

GITLAB_PERSONAL_TOKEN=
GITLAB_PROJECT_ID=